*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif
}

.nav-link{
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.navbar{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navbar-brand{
  font-size: 25px;
}
.shopping-card{
  font-size: 25px;
  margin:0 0 0 20px;
}
.size-design {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.form-control{
  border-radius: 0;
}
.btn{
  border-radius: 0;
}
.active{
  color : #d63384 !important;
}
.error-div{
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapperError{
  position : relative;
}
.wrapperError svg{
  font-size: 90px;
}
.wrapperError h1{
  font-size: 120px;
  font-weight: bold;
}
.wrapperError p{
  font-size: 60px;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */